body{
    background: url(images/pomidory.jpg) center center fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
textarea{
    resize: none;
}

textarea label {
    color: #e0e0e0;
}

/*STYLING NAVBAR*/
.navbar{
    opacity: 0.9;
    font-size: 18px;
    -ms-flex-pack: distribute;
}
.navbar-item{
    -ms-flex-item-align: center;
    align-self: center;
}
.navbar-brand{
    font-size: 20px;
}
.navbar-link{
    font-size: 20px;
    color: #fff;
    padding: 15px;
}
.navbar-link:hover{
    text-decoration: none;
    color: #ed3400;
}
#container{
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}


/*STYLING SLIDER*/
.carousel, .carousel-item, .active{
    max-height: 430px;
}
.carousel-inner{
    height: 100%;
}
.carousel .carousel-item img{
    width: 100%;
    max-height: 430px 
}
.carousel-caption h1{
    font-size: 10vh;
    font-weight: 600;
}



/*STYLING BUTTONS*/
#buttons{
    margin-top: 5vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
#buttons1{
    margin-top: 10vh;
    margin-bottom: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.button{
    border-radius: 10px;
    background-color: #ed3400;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    width: 12em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
#blackButton{
    background-color: #000;
}
.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;    
}
.button span:after{
    content: '\00bb';
    position:absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.button:hover span{
    padding-right: 25px;
}
.button:hover span:after{
    opacity: 1;
    right: 0;
}
.button1{
    margin-bottom: 60px;
    color: #fff;
    margin-top: -50px;
}
.button1:hover{
    color: #ed3400;
}

/* Styling wanttobuy and wanttosell */
.categories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 90px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.products{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 40%;
    min-width: 250px;
}
.places{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    width: 40%;
    min-width: 250px;
}
.productWindow{
    padding: 20px 0;
}
.productImage{
    width: 200px;
    height: 150px;
+    padding: 20px;
}
.page-link{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.page-link:hover{
    color: #ed3400;
}
.productDisplay{
    background: transparent;
    color: #fff;
    border: none;
    width: 100%;
}
.productQuantity{
    background: transparent;
    color: #fff;
    border: solid 1px #ed3400;
}
.productPrice{
    background: transparent;
    color: #fff;
    border: none;
    text-align: end;
}
.pPrice{
    text-align: end;
}
.payLink{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
}
.payLink:hover{
    text-decoration: none;
    color: green;
    cursor: pointer;
}

/* Styling payments */
input[type="number"] {
    -moz-appearance: textfield;
}
#quantity:hover,
#quantity:focus{
    -moz-appearance: number-input;
}
.bankLogo{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    margin: 5px;
    align-content: center;
    border-radius: 5px;
    box-shadow: 2px 5px #999;
}
.bankLogo:hover{
    background-color: #fff;
    box-shadow: 0 2px #FFFFFF;
    transform: translateX(2px);
    transform: translateY(3px);
}
.bankLogoImage{
    width: 100px;
    height: auto;
    align-self: center;
    max-height: 50px;
}

/* Styling registration form */
.register{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    width: 80%;
    margin-top: 10vh;
}
.conditions{
    text-decoration: none;
    color: green;
}
.conditions:hover{
    text-decoration: none;
    color: #ed3400;
}
#inputState:active{
    background-color: #000;
    color: #fff;
    padding: 12px 40px 12px 20px;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;
}
#registration_form_agreeTerms{
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}
#registration_form_agreePresonalDada{
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

/* Styling popular_products */
#hintsContainer{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hints{
    padding: 40px;
    width: 80%;
    margin: auto;
    height: 80vh;
    text-align: center;
}
.hints textarea{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 20px;
    overflow-y: scroll;
}

/* styling addProduct */
.addproduct_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.addProduct{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 10vh;
    padding: 20px;
    width: 50%;
    min-width: 250px;
}
.photoFrame{
    width: 50%;
    height: auto;
    padding: 0;
    margin-top: 10vh;
}
.inputclass{
    min-width: 100%;
}

/* Styling contact */
#contact{
    margin-bottom: 10px;
}
/* Styling aboutUs*/
#aboutUs-Logo{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 40px;
}

/* Cart modal styling */
.modal .table{
    color: #fff;
}
.table-image thead td, .table-image thead th {
	 border: 0;
	 color: #fff;
	 font-size: 0.8rem;
}
 .table-image td, .table-image th {
	 vertical-align: middle;
	 text-align: center;
}
 .table-image td.qty, .table-image th.qty {
	 max-width: 2rem;
}
.price {
  margin-left: 1rem;
}
.modal-footer {
  padding-top: 0rem;
}

/* Modal style*/
.modal-content{
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-title{
    text-align: center;
}
.btn{
    background-color: #ed3400;
    margin-top: 1vh;
    color: white;
}
.btn:hover{
    color: #000;
}
/* footer styling */
footer{
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -20em;
    width: 100%;
    padding-top: 20px;
    font-size: 15px;
}
footer .navbar-link{
    font-size: 15px;
}
.cooperative{
    width: 100px;
    height: auto;
    margin: 0 20px;
}

/* style for reset password*/
.resetPassword{
    text-decoration: none;
    color: #fff;
}
.resetPassword:hover{
    color: #ed3400 ;
}

/* table styling */
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
td{
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
div.dataTable_length{
    float: left;
}
div.dataTables_filter{
    float: right;
    font-size: 1.5em;
}
div.dataTables_info{
    float: left;
}
div.dataTable_paginate{
    float: right;
}
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info{
    padding: 6px;
}
table.pretty{
    width: 100%;
    clear: both;
}
table.pretty td,
table.pretty th{
    padding: 15px;
    border: 1px solid #000;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
/* header */
table.pretty thead th{
    text-align: center;
    background: #000;);
    color: #fff;
}
/* body */
table.pretty tbody{
    opacity: 0.8;
}
table.pretty tbody td{
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff !important;
}
table.pretty tbody tr.odd td{
    background: rgba(0, 0, 0, 0.4);
    color: #fff !important;
}
table.productTable{
    width: 100%;
    clear: both;
}
table.productTable td,
table.productTable th{
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
.dataTables_wrapper{
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 80px;
}
/* header */
table.productTable thead th{
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
/* body */
table.productTable tbody td{
    text-align: center;
    color: #000;
}
table.productTable tbody td img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

/* Clearfix */
div.dataTables_wrapper::after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .dataTables_wrapper{
    display: block;
}
* html .dataTables_wrapper{
    height: 1%;
}

/* Media Querrys here*/
@media (max-width: 768px){
    .navbar-toggler{
        margin-right: 0px;
    }
    #container{
        padding: 0;
        padding-top: 50px;
    }
    #myCarousel{
        width: 100%;
    }
    .carousel .carousel-item{
        min-height: 300px;
        width: 100%;
    }
    .carousel-item img{
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
        width: 100%;
    }
    #buttons{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    .button{
        max-width: 170px;
        font-size: 15px !important;
    }
    .register{
        width: 110%;
        overflow: hidden;
    }
    .addProduct{
        width: 100%;
    }
    footer{
        width: 110%;
        overflow: hidden;
    }
}

@media(max-width: 500px){
    .places{
        margin-top: 5px;
    }
    footer{
        width: 110%;
        overflow: hidden;
    }
    .register{
        width: 120%;
        overflow: hidden;
    }
    .pPrice{
        text-align: left;
    }
    .productPrice{
        text-align: left;
    }
    .productImage{
        width: 140px;
        height: 100px;
    }
    .productQuantity{
        width: 65px;
        box-sizing: border-box;
    }
    .productPrice{
        width: 65px;
        box-sizing: border-box;
        text-align: right;
    }
}

@media(min-width: 1800px){
    .carousel, .carousel-item, .active{
        max-height: 930px;
    }
    footer{
        bottom: -80em;
    }
}
@media(min-width: 760px) and (max-width: 1250px) {
    .navbar-link{
        font-size: 15px;
    }
    #buttons1{
        margin-top: 12vh;
    }
    .productPhoto{
        margin-right: 50px;
    }
}



*, *:before, *:after{
    box-sizing: border-box;
}