<!DOCTYPE html>
<html>
    <head>
        <script src="{{ asset("jquery-3.5.1.min.js") }}"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet"
                  href="{{ asset('font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset("bootstrap-4.5.0-dist/css/bootstrap.min.css") }}">
            <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
            <link href="{{ asset('style.css') }}" rel="stylesheet">
            <link rel="stylesheet"
                  href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
            <link rel="stylesheet" type="text/css"
                  href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css">
            <link rel="stylesheet" type="text/css"
                  href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block javascripts %}
            <script src="{{ asset("bootstrap-4.5.0-dist/js/bootstrap.min.js") }}"></script>
            <script type="text/javascript" charset="utf8"
                    src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
            <script type="text/javascript" charset="utf8"
                    src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>
            <script type="text/javascript" charset="utf8"
                    src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset("js/ajax.js") }}"></script>
            <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>